# Cleaning data

'Tidy data' is easy to analyse and visualise.

For data to be tidy, it must have:

* Each variable as a separate column
* Each row as a separate observation

Explore dataset:

* head() — display the first 5 rows of the table
* info() — display a summary of the table
* describe() — display the summary statistics of the table
* columns — display the column names of the table
* value_counts() — display the distinct values for a column

## Multiple files with glob 

glob can open multiple files by using regex matching to get the filenames.

In [ ]:
import glob

files = glob.glob("file*.csv")

df_list = []
for filename in files:
  data = pd.read_csv(filename)
  df_list.append(data)

df = pd.concat(df_list)

print(files)

This code goes through any file that starts with 'file' and has an extension of .csv. It opens each file, reads the data into a DataFrame, and then concatenates all of those DataFrames together.

## String parsing 

Cleaning data with regex

### String replacement

In [ ]:
fruit.price = fruit['price'].replace('[\$,]', '', regex=True)
# Removes the $

### String split

In [ ]:
split_df = df['exerciseDescription'].str.split('(\d+)', expand=True)

# Splits out the digits e.g. 'lunges - 30 reps' into 3 separate columns 'lunges - ', '30', ' reps'
# Saves it into a separate dataframe

In [ ]:
df.reps = pd.to_numeric(split_df[1])
df.exercise = split_df[0].replace('[\- ]', '', regex=True)

# Converts the number to numeric type, adds the reps and excercise columns back into the main dataframe
# Removes unwanted charaters from the excercise column

## Converting data types

In [ ]:
fruit.price = pd.to_numeric(fruit.price)
# Converts to number type

## Dropping or filling rows with missing data

In [ ]:
# Drop rows with a missing value
bill_df = bill_df.dropna()

bill_df = bill_df.dropna(subset=['num_guests'])
# Drop rows with missing values in a particular column

In [ ]:
bill_df = bill_df.fillna(value={"bill":0})
# Fills missing values in bill with 0

students.score = students.score.fillna(0)

bill_df = bill_df.fillna(value={"bill":bill_df.bill.mean()})
# Fills missing values in the bill column with the average of the bill column.